$color-primary: #1e88e5;
$color-primary-dark: #1976D2;
$black: #000;

.table-of-contents {
  a {
    color: $color-primary !important;
  }
}

.header-anchor {
  color: $color-primary !important;
}

.router-link-active {
  color: $color-primary-dark !important;
}

.theme-container.content-page-w100 {
  .page {
    .theme-default-content {
      width: 100%;
      max-width: 100%;
      margin: initial;
    }

    .page-nav {
      width: 100%;
      max-width: 100%;
      margin: initial;

      .inner {
        a {
          color: $color-primary-dark !important;
        }
      }
    }
  }
}

.navbar .site-name {
  font-weight: 400 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important;
}

.sidebar {

  .sidebar-links {
    li:not(:first-child) {
      margin-top: 0 !important;
    }
  }

  a {
    text-decoration: none;

    &.sidebar-link {
      font-weight: 500 !important;
      padding-top: 0.75em !important;
      padding-bottom: 0.75em !important;

      &.active {
        color: $color-primary !important;
        border-left-color: $color-primary-dark !important;
      }

      &:hover {
        color: $color-primary !important;
        background-color: aliceblue;
      }
    }
  }
}

//Search box
.search-box input:focus {
  cursor: auto;
  border-color: $color-primary !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

//Navbar
.navbar {
  box-shadow: 0 .5rem 1rem rgba($black, .15) !important;
}

.page-edit .last-updated .time {
  color: var(--secondary) !important;
}

.btn {
  text-decoration: none !important;
}

//bootstrap pagination
.pagination {
  a {
    font-weight: 400;
    text-decoration: none !important;
  }
}

//hero
.home .hero .action-button {
  color: #fff;
  background-color: #007bff !important;
  border-color: #007bff !important;

  &:hover {
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
  }

  &:focus {
    /*color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;*/
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, .5) !important;
  }
}
